{namespace org.plovr}

/**
 * @param htmlMessage
 */
{template .errorPage autoescape="deprecated-noncontextual"}
<!doctype html>
<html>
<head>
  <title>400 - Server Error</title>
</head>
<body>
{$htmlMessage|noAutoescape}
</body>
</html>
{/template}
