{namespace org.plovr}

/**
 * @param configId
 * @param inputs
 */
{template .list autoescape="deprecated-noncontextual"}
<!doctype html>
<html>
<head>
  <title>{$configId}</title>
  <style>h1 {lb}font-size: 16px{rb}</style>
</head>
<body>

<h1>List of files in <a href="/config/{$configId}/">{$configId}</a></h1>

{for $input in $inputs}
  <a href="{$input.href}">{$input.name}</a><br>
{/for}

</body>
</html>
{/template}
