{namespace example.templates}

/**
 * @param meaningOfLife
 * @param weekdays
 */
{template .base}
<div>The meaning of life is: {$meaningOfLife}.</div>

<ul>
{foreach $weekday in $weekdays}
  <li>{substring($weekday, 0, 3)}
{/foreach}
</ul>

{call .listTemplate}
  {param items: list('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') /}
{/call}
{/template}

// TODO: Figure out why the following does not work:
// {foreach $item in list('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')}
//   <li>{$item}
// {/foreach}

/** @param items */
{template .listTemplate}
<ul>
{foreach $item in $items}
  <li>{$item}
{/foreach}
</ul>
{/template}
